<div id="delete_confirm" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Clear log</h3>
            </div>
            <div class="modal-body">
                <p>It remains to delete the record. This process is irreversible.</p>
                <p>do you wish to continue ?</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger btn-flat">Yes, remove</button>
                <button class="btn btn-secondary btn-flat" data-dismiss="modal">No, cancel</button>
            </div>
        </div>
    </div>
</div>
<input name="modal" type="hidden" value="0">